<h1>What is Lost Toys?</h1> 
	<div class="photo">
		<%= image_tag 'bear_bear.jpg', :id => 'bear_bear' %>
	</div>
	<p>Lost Toys is a web application that is designed to help reunite children with their most treasured bears, dolls, etc.</p>
	<p>As with all great things - the idea for this site was born out of the pain of my own daughter losing her treasured teddy bear that had been with her from the time she was born until she was seven
years old.</p> 
	<p>As a parent, it's a horrible feeling to know that the one thing
that would make your daughter happy is somewhere within your local area, possibly in the hands of someone who has no idea what to do with it.</p>
	<p>It was because of this loss - that we came up with the idea of providing a simple web site that would allow people to post about lost and found toys in the hopes that at least one may be able to be reunited.</p>
	<p>We provide this service completely free of charge.</p>